.fz-16 {
	font-size: 16px;
}
.fz-20 {
	font-size: 20px;
}
.fz-24 {
	font-size: 24px;
}
.fz-28 {
	font-size: 28px;
}
.fz-32 {
	font-size: 32px;
}
.fz-36 {
	font-size: 36px;
}
.fz-40 {
	font-size: 40px;
}
.fz-44 {
	font-size: 44px;
}
.fz-48 {
	font-size: 48px;
}
.fz-52 {
	font-size: 52px;
}
.fz-56 {
	font-size: 56px;
}
.fz-60 {
	font-size: 60px;
}
.bold {
	font-weight: bold;
}
.thin {
	font-weight: 300;
}
.itelic {
	font-style: italic;
}
.text-color-primary {
	color: $primary;
}
.text-color-success {
	color: $success;
}
.text-color-danger {
	color: $danger;
}
.text-color-warning {
	color: $warning;
}
.text-color-dark {
	color: $dark;
}