.m10 {
	margin: 10px;
}
.m20 {
	margin: 20px;
}
.m30 {
	margin: 30px;
}


.mt-10 {
	margin-top: 10px;
}
.mr-10 {
	margin-right: 10px;
}
.mb-10 {
	margin-bottom: 10px;
}
.ml-10 {
	margin-left: 10px;
}


.mt-20 {
	margin-top: 10px;
}
.mr-20 {
	margin-right: 10px;
}
.mb-20 {
	margin-bottom: 10px;
}
.ml-20 {
	margin-left: 10px;
}


.mt-30 {
	margin-top: 10px;
}
.mr-30 {
	margin-right: 10px;
}
.mb-30 {
	margin-bottom: 10px;
}
.ml-30 {
	margin-left: 10px;
}